﻿@model HFC.Vendor.Escalation.Form.Models.VendorLine
<tr>
    <td>
        @Html.DisplayFor(m => m.LineNumber)
    </td>
    <td>
        @Html.DisplayFor(m => m.ProductCategory)
    </td>
    <td>
        @Html.DisplayFor(m => m.Description)
    </td>
    <td>
        @Html.DisplayFor(m => m.IssueType)
    </td>
    <td>
        @Html.DisplayFor(m => m.IsRemake)
    </td>
    <td>
        @Html.DisplayFor(m => m.RemakeOrderNumber)
    </td>
    <td>
        @Html.DisplayFor(m => m.IssueNotifyDate)
    </td>
    <td>
        @Html.DisplayFor(m => m.IssueReason)
    </td>
</tr>


